.section{
    border: 1px solid grey;
}
.heading{
  display: flex;
}
.heading button{
  padding-top: 8px;
  background-color: white;
  border: none;
  cursor: pointer;
}
/* .description{
  padding-top: 0;
  margin: 0;
} */